<ion-header>
  <ion-toolbar>
    <ion-title>
      Push Notificaciones
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearAllMsg()">
        <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>userId</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{pushService.userId}}</ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>Pushes</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let msg of mensages">
      <ion-label>
        <h3>{{msg.title}}</h3>
        <p>{{msg.body}}</p>
        <p>
          {{msg.additionalData | json}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
